repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/ikamensh/flynt/
    rev: 1.0.1
    hooks:
      - id: flynt
        args: [--line-length=120, --fail-on-change]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff-format
        exclude: &exclude_ruff >
          (?x)^(

          )$

      - id: ruff
        exclude: *exclude_ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        args: [--config-file=pyproject.toml]
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
          (?x)^(
              src/.*py|
          )$
