backports-abc==0.5
backports.tempfile==1.0; python_version < '3.2'
backports.weakref==1.0.post1
certifi==2018.1.18
enum34==1.1.6; python_version < '3.4'
frozendict==1.2
future==0.16.0
-e git+https://github.com/muhrin/kiwipy.git@c343040f5ca622d73a7f7f3c3384f7de2b073187#egg=kiwipy
pika==0.11.2
plumpy==0.10.0.dev5
portalocker==1.1.0
PyYAML==3.12
singledispatch==3.4.0.3
six==1.11.0
tornado==4.5.3
typing==3.6.4
